::selection {
  color: var(--c-primary-bg);
  background-color: var(--c-primary);
}

::-moz-selection {
  color: var(--c-primary-bg);
  background-color: var(--c-primary);
}

html {
  font-size: var(--global-font-size);
}

body {
  background-color: var(--c-primary-bg);
  color: var(--c-primary);
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  padding: 0 1rem;
}

h1,
.headline1 {
  font-size: 8vmin;
  letter-spacing: -.025em;
  line-height: .9;
  margin: 0 auto;
  text-align: center;
}

h2,
.headline2 {
  font-size: 1.2rem;
}

h3,
.headline3 {
  font-size: 1.5rem;
}

body,
h1,
h2,
h3,
h4,
p {
  line-height: var(--global-lineheight);
  margin: 0 0 var(--global-spacing) 0;
}

hr {
  border: 0;
  border-top: 1px solid var(--c-grey-light);
  margin: -1px 0 0 0;
}

@media (max-width: 600px) {
  body {
    font-size: var(--global-font-size-mobile);
  }

  h1,
  .headline1 {
    font-size: 8vmin;
  }

  h2,
  .headline2 {
    font-size: 1.2rem;
  }

  h3,
  .headline3 {
    font-size: 1.5rem;
  }

  ul {
    padding-left: 1.5rem;
  }
}
