.comments {
  list-style: none;
  margin: var(--global-spacing-triple) 0;
  padding: 0;

  &--nested {
    margin-left: var(--global-spacing-triple);
    margin: var(--global-spacing) 0 var(--global-spacing-triple) var(--global-spacing-triple);
  }

  .avatar-container {
    display: block;
    min-width: 35px;
    margin-right: var(--global-spacing-half);
  }
}